;; The deps.edn file describes the information needed to build a classpath.
;; deps.edn configuration is a combination of
;; - install-level (latest Clojure version at install time)
;; - user level - $HOME/.clojure/deps.edn
;; - project level - deps.edn in root of project

{ :aliases
 {
  ; e.g. clj -X:new :template figwheel-main :name foo/weather :args '["+deps" "--reagent"]'
  :new {:extra-deps {seancorfield/clj-new {:mvn/version "1.1.243"}}
         :exec-fn clj-new/create
         :exec-args {}}} 


 ;; Library Repositories
 ;; Order in which repositories are consulted is not guaranteed, so only add essential repositories
 ;; Maven Central and Clojars are the canonical repositories for library dependencies

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}
